* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'Gamera';
    src: url('../fonts/gamera.ttf') format('TrueType');
}

@font-face {
  font-family:'Engel';
  src: url('../fonts/angel.ttf') format('TrueType');
}

@font-face {
  font-family:'Agane';
  src: url('../fonts/agane.ttf') format('TrueType');
}

@font-face {
  font-family:'Bowser';
  src: url('../fonts/bowser.ttf') format('TrueType');
}

html{
  background-color: pink; /* roze gehouden want dat is leuk wanneer je de pagina beweegt */
  letter-spacing: 0.04em;
  /* font-family: '', sans-serif;  */
}

body{
  background-image: url(../images/gameroom.jpg); /* bron https://unsplash.com/photos/gaming-room-with-arcade-machines-m3hn2Kn5Bns */
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1, h2{
  font-family: 'Gamera', sans-serif;
  color: yellow;
}

h3{
  font-family: 'Engel', sans-serif;
  color: yellow;
}

p, button{
  font-family: 'Agane', sans-serif; 
}

button{
  background-color:rgb(233,51,153);
  border: none;

  color: white; 

  text-align: center; 
  font-size: 1em;
  padding: 0.9em 3.1em;
  cursor: pointer;

  transition: background-color 0.3s, color 0.3s;
}

button:hover{
  background-color: rgb(1,237,143);
}

/* ----------------------------index------------------------- */

@keyframes verplaatsendSpook{
  0%{
    right: 51.8%;
  }

  100%{
    right: 50.8%;
  }
}

header section img{
  position: fixed;
  animation: verplaatsendSpook 2.5s linear infinite;
  height: 3.5vh;
  top: 8.5%;
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
}

header section h1{
  margin-top: 0.7em;
  margin-bottom: 0.15em;
  font-size: 5.5em;
}

header section h2{
  margin-bottom: 3em;
  margin-left: 17em;

  font-size: 1.5em;
  font-family: 'Engel', sans-serif; 
}

header button{ /* startknop */
  margin-top: 5.5em;
  font-size: 1.5em;
  padding: 0.8em 4em;
  transition: background-color 0.3s, color 0.3s;
}

header button:hover{
  background-color: rgb(1,237,143);
  animation: schudden 3s infinite ease;
}

@keyframes schudden{
  0%{
    transform: rotate(-5deg);
  }
  25%{
    transform: rotate(5deg);
  }
  50%{
    transform: rotate(-5deg);
  }
  75%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(-5deg);
  }
}

header section p{  /* spooky muziekje knop */
  margin-top: 9em;
  margin-left: 6em;
  color: white;
 
  padding: 1.5em;
  width: 2.5vw;
  background-color: rgb(233,51,153);
  border-radius: 50%;
  font-size: 0.6em;
  cursor: pointer;
  border: 1.5px black solid;
  transition: background-color 0.3s, color 0.3s;
}

header section p:hover{
  background-color: rgb(1,237,143);
}

/* --------------------------index---------------------- */

/* --------------------------naam invoeren---------------------- */

.gamenaaminvoeren section{ /* groot zwart vlak */
  background-color: black;
  color: white;

  width: 50vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 11em;
}

.gamenaaminvoeren h2{
  font-size: 3em;
}

.gamenaaminvoeren p{
  font-size: 1.2em;
  margin-top: 1em;
}

input{
  border: 2px solid;
  border-radius: 5px;
  padding: 8px;
  width: 250px;
  font-size: 16px;

  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.volgendeknop{
  display: none;
  position: fixed;
  z-index: 2;
  top: 59%;
  left: 43.5%; 
  font-size: 1.1em;
  padding: 1.1em 3.4em;
}

.zwarteachtergrond{ /* grijs/ zwarte achtergrond */
  display: flex;
  flex-direction: column;
  text-align: center;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

/* --------------------------naam invoeren---------------------- */

/* --------------------------character kiezen---------------------- */

.characterkiezen{
  background-color: black;
  color: white;

  width: 50vw;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 11em;
}

.characterkiezen h2{
  font-size: 3em;
  padding-top: 0.2em;
}

.characterkiezen img{
  height: 38vh;
  cursor: pointer;
  object-fit: cover;
}

.characterkiezen img:hover{
  transform: scale(1.3)
}

.spelladen h3{
  margin-top: 10.5em;
  font-size: 1.3em;
}

.spelladen img{
  height: 25vh;
  margin-top: 2.5em;
}

/* --------------------------character kiezen---------------------- */

/* -------------------------------spelen---------------------- */

header div{
  display: flex;
  flex-direction: column;

  margin-top: 1em;
}

header div h1{
  font-size: 4em;
  margin-bottom: 0.1em;
}

header div p{  /* scoreboard */
  position: fixed;
  font-size: 1.2em;
  color: red;
  background-color: black;
  padding: 1em;
  width: 10vw;
  left: 44%;
  margin-top: 1em;
  border-radius: 0.2em;
}

.spelenpagina{
  /* hier geen display: flex nodig omdat die al in js wordt uitgevoerd */
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.spelenpagina section{
  display: flex;
  flex-direction: row;
}

.spelenpagina section div{
  display: flex;
  flex-direction: column;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

#computerkeuze{
  margin-top: 10em;
}

.spelenpagina section p{
  margin-top: 2em;
  margin-bottom: 1em;
  color: white;
}

header div h2{
  color: white;
  font-family: 'Engel', sans-serif;
}

.spelenpagina h3{
  color: rgb(149,245,229);
  font-family: 'Bowser', sans-serif;
  letter-spacing: 0.2em;
  font-size: 5em;
}

#charactergebruiker,
.mikasa{
  object-fit: cover;
  height: 50vh;
}

#steen,
#papier,
#schaar{
  object-fit: cover;
  width: 6.5vw;
}

.optiesspel{
  cursor: pointer;
}

.optiesspel img{
  padding-top: 0.2em;
}

.optiesspel img:hover{
  transform: scale(1.2)
}

.gebruikerkeuze,
#computerkeuze{
  object-fit: cover;
  height: 27vh;
  margin-top: 10em;
}

.confetti{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  opacity: 50%;
  z-index: 999;
}